html{
    box-sizing: border-box;
    font-size: 1rem;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

.fluid-grid{
    display: grid;
}

.nav{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
    
}
