:root{
    --background-procut-card: #F2F2F2;
}


html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    /* overflow-x: hidden; */
}

img{
    max-width: 100%;
    height: auto;
}

#root{
    width: 100%;
}

.header{
    width: 100%;
    padding: .5rem;
    text-align: center;
    background-color: #1152FD;
}

.grid-fluid{
    margin: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-items: center;
    gap: 1rem;
}

.nav{
    padding: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--background-procut-card);
}
